[Unit]
Description=Notifies a server once SSH is ready
After=sshd.service

[Service]
ExecStart=curl 10.0.0.123/s
#ExecStart=curl --user username:password 10.0.0.123/s

[Install]
WantedBy=multi-user.target
