html {
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0d0d0d;
}

body {
  height: fit-content;
  margin: 0px;
  padding: 1.2em 1.5em 1.5em 1.5em;
  font: 1em sans-serif;
  background: white;
  border-radius: 1em;
}

h1 {
  margin-top: 0px;
}

.state {
  display: none;
  padding: 0.2em 0.8em;
  background: #dfdfdf;
  color: #595959;
  border-radius: 1em;
}

.state.unknown {
  display: initial;
  padding: 0.2em 1.2em;
}

.state.pwron,
.state.sshyes {
  background: #008a3c;
  color: white;
}

.state.pwroff,
.state.sshno {
  background: #b30000;
  color: white;
}

input {
  display: none;
}

input.unknown {
  display: initial;
}
